:root {
	color-scheme: light;
	/* --f7 */
	--f7-theme-color: #007aff;
	--f7-theme-color-shade: #0020d6;
	--f7-theme-color-tint: #3029ff;
	--f7-theme-color-rgb: 0, 122, 255;

	--f7-list-bg-color: rgb(231, 231, 231);

	--f7-block-text-color: black;
	--f7-grid-resize-handler-bg-color: rgba(0, 0, 0, 0.35);

	--f7-label-text-color: var(--f7-block-text-color);

	--border-radius-small: 5px;
	--border-radius: 10px;

	--f7-list-item-title-font-size: 14px;
	--f7-list-font-size: 14px;
	--f7-inline-label-font-size: 14px;
	--f7-table-head-font-size: 14px;

	--f7-list-item-min-height: 32px;

	--f7-input-font-size: 14px;
	--f7-input-height: 32px;
	--f7-input-padding-right: 22px;

	/* --f7-button-pressed-bg-color: rgb(75, 75, 75); */

	--d: 2500ms;
	--angle: 90deg;
	--gradX: 100%;
	--gradY: 50%;
	--c1: var(--f7-theme-color);
	--c2: rgba(168, 239, 255, 0.1);

	--calBorder: 0.45rem;
}

:root .dark,
:root.dark {
	color-scheme: dark;

	--f7-block-text-color: white;
	--f7-grid-resize-handler-bg-color: rgba(255, 255, 255, 0.35);

	--f7-label-text-color: var(--f7-block-text-color);

}


@property --angle {
	syntax: '<angle>';
	initial-value: 90deg;
	inherits: true;
}

@property --gradX {
	syntax: '<percentage>';
	initial-value: 50%;
	inherits: true;
}

@property --gradY {
	syntax: '<percentage>';
	initial-value: 0%;
	inherits: true;
}

.wrapper {
	min-width: min(40rem, 100%);
}

.box {
	border: var(--calBorder) solid;
	border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.85turn, var(--c2) 0.25turn) 30;
	animation: borderRotate var(--d) linear infinite forwards;
}

@keyframes borderRotate {
	100% {
		--angle: 450deg;
	}
}

@keyframes borderRadial {
	20% {
		--gradX: 100%;
		--gradY: 50%;
	}

	40% {
		--gradX: 100%;
		--gradY: 100%;
	}

	60% {
		--gradX: 50%;
		--gradY: 100%;
	}

	80% {
		--gradX: 0%;
		--gradY: 50%;
	}

	100% {
		--gradX: 50%;
		--gradY: 0%;
	}
}




.md {
	--f7-label-font-size: 11px;
}

.custom-title {
	background: var(--f7-theme-color) !important;
	color: white !important;
}


/* Your app custom styles here */
html,
body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 14px;
	min-width: 300px;
}

.header {
	background: var(--f7-list-bg-color);
	margin: 0;
	padding: 10px 16px !important;
	/* padding-bottom: 10px !important; */
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 22px;
	border-bottom-left-radius: 13px;
	border-bottom-right-radius: 13px;
	box-shadow: var(--f7-popover-box-shadow) !important;
}

.input-text {
	font-size: 14px !important;
}

.search-text {
	font-size: 10px !important;
}

/* header vertical margins spacing */
.list {
	margin: 0px;
}

.input-text {
	padding-right: 24px !important;
}

.item-input-outline {
	--f7-input-height: 250%;
}

.popover {
	border-radius: var(--border-radius);
}

#calendar {
	border-color: rgba(0, 0, 0, 0) !important;
	margin: 0;
	padding: 40px;
	padding-top: 30px;
}

.eventBox {
	overflow: hidden;
}

.fc-daygrid-week-number {
	color: #2963a1 !important;
	background: #3094ff39 !important;
}

.fc-day-today {
	background: #2890ff2f !important;
	border: none !important;
}

.fc-more-popover {
	border-radius: 5px;
	border: none !important;
	padding: 5px;
	box-shadow: var(--f7-popover-box-shadow) !important;
	background: var(--f7-list-bg-color) !important;
}

.fc-popover-header {
	border-radius: 5px;
	background-color: #474e6452 !important;
}

.fc-popover-body {
	padding: 2px !important;
	padding-top: 5px !important;
	padding-bottom: 4px !important;
}

.morePopover {
	color: var(--f7-theme-color);
}

.choicesPopover {
	min-width: 150px;
	width: fit-content;
}

.tippy-box[data-theme~='eventDetails'] {
	background: var(--f7-theme-color);
	border: var(--f7-theme-color);
	color: white;
}

.tippy-box[data-theme~='eventDetails']>.tippy-svg-arrow {
	fill: var(--f7-theme-color);
}